/* Start: Paul Irish Box Model */
* {
    box-sizing: border-box;
}

*, *:before, *::after {
    box-sizing: inherit;
}
/* End: Box Model */

html {
    font-family: "Times New Roman", Times, serif;
    /* have the scroll bar all the time */
    overflow-y: scroll;
}

/* Start: Google Fonts */

@font-face {
  font-family: 'Fontdiner Swanky';
  font-style: normal;
  font-weight: 400;
  src: local('Fontdiner Swanky Regular'), local('FontdinerSwanky-Regular'), url(/fonts/ijwOs4XgRNsiaI5-hcVb4hQgMvCD0uYVKw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* End: Google Latin */

body {
    background-color: #190623;
    color: #ffffff;
}

h1, h2, h3, th , .rules, .countryInformationLabelState  {
    text-align: center;
    font-weight: normal;
}

h1, h2, h3, th, .registerLegend, footer {
    color: #eab358;
}

h1 {
    margin: .6rem 0 .4rem 0;
}

h2 span {
    font-size: 1.2rem;
}

footer {
    margin: .4rem auto;
}

aside ul {
  background-color: #bcbb6d;
  padding: 1rem;
}

/* Form related MDN recommended styles */
form {
    /* Just to center the form on the page */
    margin: .2rem;
    /* To see the outline of the form */
    padding: .3rem;
    /*  */
    border-radius: 1rem;
}

input {
    /* text field font */
    font: .9rem sans-serif;
    /* text field border */
    border: .1rem solid #999;
    font-weight: bold;
}

/* default for a button background and text color */
input[type=submit], button, .resetAnchor, #workWithLanguages, .applicationLanguageRegister {
    font-weight: bold;
    border: .3rem;
    margin-top: .3rem;
}

input[type=submit]:hover, button:hover, #workWithLanguages:hover, .resetAnchor:hover {
    background-color: #282828;
    color: papayaWhip;
    cursor: pointer;
}

input:focus {
    /* To give a little highlight on active elements */
    border-color: blue;
}

figcaption {
    font-size: .9rem;
    color: #eab358;
}

nav li:hover {
     cursor: pointer;
}

th img:hover, .regionLabelText:hover, .sortIconTh:hover, .aToZ:hover, .countryPanel:hover {
     border-bottom: solid #efeaea .1rem;
     cursor: pointer;
}

select {
    width: 9.5rem;
    border-style: none;
    cursor: pointer;
}

select:disabled:hover, input:disabled:hover {
     color: red;
     background-color: black;
}

table, th , td  {
    padding: .3rem;
}

table {
    margin: .1rem auto;
    border: .1rem solid grey;
}

th {
    background-color: #190623;
    font-size: 1.1rem;
    position: sticky;
    position: -webkit-sticky; /* gives "is an unknown vendor extension" */
    top: 0;
    z-index: 2;
    text-align: left;
}

td  {
    font-weight: bold;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul {
    list-style-type: none;
}

li {
    margin: .4rem;
    font-weight: bold;
    color: #282828;
}

li ul li {
    color: #282828;
    font-style: italic;
}

aside > article {
    background-color: #bcbb6d;
}

/* DGMD E-20 Wiki */
[href*=".pdf"] {
	padding-right: 20px;
	background: url(/images/pdf.gif) no-repeat right;
}

h2.pBorder {
    font-size: 1.7rem;
    color: #190623;
}

article > h2, article > h3 {
    color: #190623;
}

/* for accessibility together with .fieldsetForAccessibility */
legend {
    display:none;
}

textarea {
    font-size: 1.1rem;
    color: #190623;
    font-weight: bold;
}

li a:hover {
    box-shadow: .1rem .3rem .5rem .2rem #eab358;
}

/* drop down language menu or left/right show description starts (based on W3School) */
.dropbtn {
    background-color: #190623;
    min-width: 10rem;
    color: #eab358;
    font-size: 1rem;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: left;
}

.dropdown-content, .dropdown-content-left-description, .dropdown-content-right-description {
    display: none;
    position: absolute;
    background-color: papayaWhip;
    min-width: 10rem;
    box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
    z-index: 3; /* table headings using 2 */
    color: #190623;
    min-width: 10rem;
}

.dropdown-content a {
    color: black;
    padding: .2rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content-left-description a, .dropdown-content-right-description a {
    color: black;
    padding: .2rem 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown-content-left-description a:hover, .dropdown-content-right-description a:hover {
      background-color: #ddd;
 }

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropdown-content-left-description {display: inline-block; transform: translateX(5rem);}

.dropdown:hover .dropdown-content-right-description {display: inline-block; transform: translateX(-18rem);}

.dropdown:hover .dropbtn {background-color: #190623;}


.dropdownFlag {
    width: 1.5rem;
    height: 1rem;
    border-width: .1rem;
    border: .1em solid lightgray;
    margin: .5rem;
    vertical-align: middle;
}

.dropDownFlagText {
    font-size: 1.05rem;
    color: #eab358;
}

.dropDownPBorder {
    font-size: 1rem;
    text-align: center;
    padding-top: .4rem;
    border-width: .4rem;
    background-color: papayaWhip;
    color: #190623;
    margin: .4rem;
}

/* drop down menu and show right/left description end */

.marginOnSidesABit {
    margin: 0 .3rem;
}

.regionLabelText, .sortIconTh {
    border-bottom: solid #190623 .1rem;
}

.sortIconTh {
    cursor: pointer; /* for iOS click to work */
}

.codesWithPointer img {
    cursor: pointer;
}

.codesWithPointer  {
    cursor: pointer;
}

.answersBorder {
    border: thin gray outset;
}

.colorSalmon {
    color: salmon;
}

.smallEntityMapSize {
    width: 100%;
}

.tutorialVideo, .center, #selectedFlagImageDiv {
    text-align: center;
}

.tutorialVideo a, a.tutorialPDF {
    padding-right: 20px;
}

.rules {
    color: #190623;
}

.pBorder {
    font-size: 1.1rem;
    text-align: center;
    padding-top: .4rem;
    border-image: url(/images/border.png) 30% stretch;
    border-width: .4rem;
    border-color: purple;
    background-color: papayaWhip;
    border-style: outset;
    box-shadow: 0 .5rem 1rem 0 #f6eded;
    color: #190623;
    margin: .35rem;
}

.reportBorder {
    border-image: url(/images/border.png) 30% stretch;
    border-width: .4rem;
    border-color: purple;
    background-color: papayaWhip;
    border-style: outset;
    box-shadow: 0 .5rem 1rem 0 #f6eded;
}

.appLanguageSel {
    font-size: 1.4rem;
    color: #eab358;
}

.appLanguageSelPapaya {
    font-size: 1.1rem;
    color: papayaWhip;
}

.workWithCountryList {
    margin: .9rem;
}

.tab {
    background-color: orange;
    color: #190623;
}

.selectedTab {
    font-size: 1.5rem;
    background-color: #282828;
    color: orange;
}

.incorrectChoice {
    background-color: red;
    color: yellow;
}

.correctChoice {
    background-color: orange;
    color: black;
}

.signInMargin
{
    margin: 0 auto;
}

.errorTextInMargin
{
    margin: .2rem 0 .1rem 0;
}

.registerSize {
    width: 16rem;
    margin: .19rem auto;
    text-align: center;
    font-size: 1.5rem;
}

.registerFieldMargin {
    margin: .3rem auto;
}

.oddRow {
    background-color: lightGray;
}

.evenRow {
    background-color: papayaWhip;
}

.tableExtras {
    border-style: solid;
    border-width: .1rem;
    border-color: white;
    background-color: papayaWhip;
    padding: 1rem;
    border-image: url(/images/border.png) 20% stretch;
    color: #282828;
}

.plainFlags, .selectedFlag, .plainFlagsWorld, .selectedFlagsWorld  {
    margin: .12rem;
    border-width: .1rem;
    border: .1em solid lightgray;
}

.tdSelectedFlagsWorld {
    margin: 0 .7rem;
    border-width: .1rem;
    border: .1em solid lightgray;
    width: 2.4rem;
    height: 1.4rem;
    border-color: orange;
    background-color: wheat;
    border-style: double;
    transform:scale(1.5);
}

.plainFlags, .selectedFlag {
    width: 4.2rem;
    height: 3rem;
}

.plainFlagsWorld, .selectedFlagsWorld {
    width: 2.4rem;
    height: 1.4rem;
}

.selectedFlag, .selectedFlagsWorld {
    border-color: orange;
    background-color: wheat;
    border-style: double;
}

.selectedFlag, .selectedFlagsWorld {
    transform:scale(1.5);
}

.selectedFlagLabel {
    color: indigo;
    font-weight: bold;
}

.selectedFlagRight {
    width: 9rem;
    height: 6rem;
    border: .1rem solid orange;
}

.largerSize {
    font-weight: bold;
    font-size: 2.5rem;
}

.required {
    color: red;
    font-size: 1.2rem;
    font-style: italic;
    background-color: black;
}

.leftCountries {
    color: blue;
    margin-left: .3rem;
}

.vertialAlignMiddle {
    vertical-align: middle;
}

.selectBoxStyles, .resetAnchor, #workWithLanguages {
    padding: .1rem;
    background-color: #190623;
    color: #eab358;
    padding: 0 .2rem;
    font-size: 1.1rem;
}

.selectBoxStyles {
    border-bottom: solid #190623 .1rem;
}

.regionRadioButtonStyle {
    padding: 0 .2rem;
    color: #eab358;
    font-weight: bold;
}

.selectedInputTag, .selectBoxStyles:hover, a.sharedLinkState[href] span:hover, .oneCountryPanelSelectedTab {
    text-decoration: underline;
    text-decoration-color: white;
}

.titledTag {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.countryInformationLabelState, countryInformationLabelStateDisplay {
    padding: .1rem;
    font-size: 1.1rem;
}

.countryInformationLabelState, .countryPanel {
    color: #eab358;
}

.countryInformationLabelStateDisplay {
    color: #f6e6cd;
    text-align: center;
    font-weight: normal;
}

.indigoColor {
    color: indigo;
    font-weight: bold;
}

.papayaWhipBackgroundColor {
    background-color: gold;
    font-weight: bold;
}

.registerLegend {
    font-weight: bold;
    font-size:1.2rem;
}

.combineCharStyle {
    font-weight: bold;
    font-size:1.7rem;
    color: white;
    vertical-align: middle;
}

.lineThrough {
    text-decoration: line-through;
}

.regionLinks {
    border-bottom: solid salmon .1rem;
}

.marginPointPoint2Rem {
    margin: .2rem;
    font-size: 1.1rem;
}

.mySuperScript {
    font-size: .5rem;
}

.margin1ThirdRem {
    margin: 0.3rem;
}

.halfFontSize {
    background-color: white;
    font-size: .8rem;
}

.displayNone {
    display: none;
}

.visibilityHidden {
    visibility: hidden;
}

.myInfoPage, .myInfoPageCountryList {
    display: grid;
    grid-column-gap: .2rem;
    margin: auto 4%;
}

.myInfoPage, .myInfoPageCountryList {
    grid-template-columns: 20% calc(60% - .4rem) 20%;
}

.aCountrySelectedBackgroundColor {
    background-color: #4f157e;
}

.wrapperAbout {
    background-color: papayaWhip;
    border-style: double;
    border-color: green;
}

.inlineBlock, .regionLabelText {
    display: inline-block;
}

/* Flex Box Layout staring here */

.nestedFlexAbout {
    display: grid;
    grid-template-columns: 25% calc(50% - .4rem) 25%;
    margin: auto 20%;
}

.nestedFlexCitation {
    display: grid;
    grid-template-columns: 100%;
    margin: auto 25%;
}

.aboutList {
    flex-basis: 25%;
    text-align: left;
    background-color: #eab358;
}

.aboutList > ul {
    list-style-type: none;
}

.citationList {
    flex-basis: 100%;
    text-align: left;
    background-color: #eab358;
}

.citationIcon {
    width:1.7rem;
    vertical-align: middle;
    cursor: pointer;
    margin: .2rem;
}
/* Flex Box Layout ended here */

/* Grid Box Layout staring here */
.gridBox, .gridBoxCountryList {
    margin: 0 auto;
}

.gridBox {
    display: grid;
}

.gradeAndAnswers {
    display: grid;
    grid-template-columns: 40% calc(60% - .9rem);
    grid-column-gap: .9rem;
    margin: 0 10%;
}

/* nested grid */
.mainAbout {
    display: grid;
    grid-template-columns: 25% calc(50% - .4rem) 25%;
    grid-column-gap: .2rem;
}

.worldSelectSize {
    width: 7rem;
}

/* Grid Box Layout ended here */
.applicationLanguageRegister {
    width: 12.7rem;
}

.h2Header {
    display: grid;
    grid-template-columns: 30% calc(40% - .4rem) 30%;
    grid-column-gap: .2rem;
    font-size: 1.9rem;
}

.h2Header {
    margin: .7rem;
}

.pointNineMargin {
    margin: 0 .9rem;
}

.appleIOSTop {
    vertical-align: baseline;
    margin: 0 0 0 .3rem;
    color: #eab358;
}

.muteMeRegister {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dashBoardCombine {
    display: flex;
    flex-direction: column;
    width: 7.5rem;
}

/* legend added too: legend { display:none}; */
.fieldsetForAccessibility {
    display: inline-block;
    border-style: none;
    padding: 0;
}

.oneCountryPanel {
    display: flex;
    justify-content: center;
}

.countryPanel {
    padding: .3rem;
    border-bottom: solid #190623 .1rem;
    box-shadow: .1rem .12rem #888888;
}

.whatThisPanelFor {
    color: #eab358;
    text-align: center;
}

.appLanguageToUse, .applicationLanguageRegister {
    text-align-last:center;
}

.aToZ {
    margin: 0 .2rem;
    width: 2rem;
    text-align: center;
    border-bottom: solid #190623 .1rem;
    cursor: pointer;
}

.makeBold {
    font-weight: bold;
}

.tabPanelIframe {
    width: 43rem;
    height: 28rem;
    margin: .2rem 5%;
}

.aboutCategory {
    margin: .2rem .5rem 1.5rem;
}

.countryCodeBodyBackground {
    background-image: url(/images/_world.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 20rem;
}

.menuItem, .mainMenuItem {
    text-decoration: none;
    box-shadow: 0 0.5rem 0.5rem 0rem #31312a;
    text-align: center;
    font-weight: bold;
}

.sortIcon {
    font-weight: bold;
    vertical-align: middle;
}

.applicationLanguageRegional {
    margin: .4rem 0 0 0;
}

.languageTable {
    height: 27rem;
    color: #190623;
    margin: 0 auto;
    width: 95%;
    overflow: scroll;
    border: .1rem solid grey;
}

.languageTH {
    width: 50%;
}

.languageInput {
    width: 100%;
    height: 5rem;
}

#id_LanguageImplementedBy, #id_CopyRight {
    margin: 0;
}

#muteMySound {
    margin: .6rem 0 0 auto;
}

#id_StartWith, #id_AppLanguageToUseB {
    color: #eab358;
    font-size: 1.5rem;
    font-weight: bold;
}

#id_Population {
    width: 7.5rem;
}

#id_LiRegister {
    margin: 1.1rem .5rem .5rem;
}

#id_Surfing, #id_Searching, #id_Countries {
    font-family: 'Fontdiner Swanky', cursive;
    letter-spacing: .16rem;
}

#menuHeader {
    margin: 1.5rem;
}

#menuWorldView {
    width: 38rem;
}

#id_Letters26 {
    display:flex;
    font-weight: bold;
    margin: .1rem auto;
    cursor: pointer;
}

#id_QuestionHeader {
    background-color: #e8d05f;
    display: inline;
    font-weight: bold;
    color: #190623;
}

#id_PlaySound, #id_SaveText {
    margin: 0 .4rem;
    font-weight: bold;
}

#id_FirstMessage {
    font-size: 2rem;
    font-family: 'Fontdiner Swanky', cursive;
    letter-spacing: .1rem;
}

#id_CountryFacts {
    font-size: 1.5rem;
    font-family: 'Fontdiner Swanky', cursive;
    margin: 0 1rem 0 3rem;
}

#id_TableRowCount {
    width: 5.5rem;
    text-align: left;
}

#id_CountryListDiv, #id_CountryListMenuDiv {
    color: #190623;
    margin: 0 auto;
    width: fit-content;
    width: -moz-max-content; /* gives "is an unknown vendor extension" */
    overflow: scroll;
    border: .1rem solid grey;
}

#id_CountryListDiv {
    height: 22rem;
}

#id_CountryListMenuDiv {
    height: 32.3rem;
    width: 99%;
}

#id_SaveStartupValues, #saveButton {
    color: #190623;
    background-color: #efeaea;
    font-size: 2rem;
    margin: 0 .4rem;
}

#saveButton {
    vertical-align: middle;
    margin: 0 1rem;
}

#soundOnOffIconRegister, #id_SaveStartupValues {
    vertical-align: middle;
}

#combineSearch, #id_CountryListTable, #id_CountryListTable th  {
    text-align: left;
}

#id_CombineSearchText {
    color: #eab358;
    font-weight: bold;
    font-size: 1.1rem;
    vertical-align: baseline;
}

#id_CombineSearchText.combineRegister
{
    font-size: 1.5rem;
}

#id_SmallEntityText {
    color: #bcbb6d;
}

#soundOnOffIcon {
    font-size:1.7rem;
    color: #FFE5FF;
    font-weight: bold;
    vertical-align: middle;
}

#soundOnOffIconRegister {
    font-size:2rem;
    color: #FFE5FF;
    font-weight: bold;
}

#mapTab ul li {
    margin-left: 0.4rem;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#mapTab, .registerH2 {
    margin: 0;
}

#middleFrame {
    flex-basis: 50%;
    background-color: #bcbb6d;
}

#middleFrameCongrat {
    flex-basis: 70%;
    background-color: #bcbb6d;
}

#flags img, #flagsWorld img {
    transition: transform .5s;
}

#flags img:hover, #flagsWorld img:hover, #soundOnOffIcon:hover, #soundOnOffIconRegister:hover,
    #id_SaveStartupValues:hover, #saveButton:hover, td img:hover, .sortIcon:hover {
    transform:scale(1.2);
    cursor: pointer;
}

#flags {
    padding-top: .4rem;
    margin: .2rem 1rem;
}

#flagsWorld {
    padding-top: .1rem;
    margin: 0 2%;
}

#flagTitle {
    font-weight: bold;
    font-size:1.5rem;
    color: #282828;
}

#capital {
    width: 6rem;
    font-size: 1rem;
}

#worldFlagsLanguageForm {
    margin: 0 auto;
    width: 80%;
}

#worldFlagsForm, #selectedFlagForm {
    display: flex;
    flex-direction: column;
    margin: 20% 1%;
}

#selectedFlagForm {
    align-items: flex-end;
}

#worldFlagsForm {
    align-items: flex-start;
}

#aboutMfeWorld {
    margin: 0 1%;
    padding: 1rem;
}

#id_ConfigureFieldSet {
    margin: 1.5rem 0;
}

/* iPhone 375 x 667 */
/* iPad 768 x 1024 iPad */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .myInfoPage {
        grid-template-columns: 25% calc(50% - .4rem) 25%;
        margin: auto 1%;
    }

    .nestedFlexCitation {
        margin: 1rem 15rem;
    }

    .appLanguageToUse {
        text-align-last: left;
    }

    .dashBoardCombine {
        display: inline;
        margin: 0 auto;
        text-align: center;
    }

    .countryCodeBodyBackground {
        background-size: 20rem;
    }

    #id_Letters26.worldCountryCodes {
        font-size: 1rem;
        margin: 0;
    }

    #id_AudioAnthem, #id_AudioGreeting {
        margin: 0 auto;
    }

    #combineSearch {
        text-align: center;
    }

    #id_CountryListMenuDiv {
        width: 37rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #id_LiRegister {
        margin: 1.1rem 0 .9rem 0;
    }

    .countryCodeBodyBackground {
        background-size: 15rem;
    }

    .nestedFlexCitation {
        margin: 1rem 15rem;
    }

    table, th, td {
        padding: .1rem;
    }
}

@media (min-width: 1px) and (max-width: 812px) {
    nav ul {
          display: grid;
    }

    #id_Letters26 {
        display:block;
        text-align: center;
        margin: 0 .6rem;
    }

    #id_Letters26.worldCountryCodes {
        font-size: 1.33rem;
    }

    #selectedFlagForm {
        align-items: center;
        margin: 1%;
    }

    #worldFlagsForm, #selectedFlagImageDiv {
        align-items: center;
        margin: 1%;
    }

    #combineSearch {
        text-align: center;
    }

    #aboutMfeWorld {
        grid-row: 3;
        width: calc(190% - 2rem);
    }

    .aToZ {
        display: inline;
        margin: 0 .15rem;
    }

    .dashBoardCombine {
        display: inline;
        width: 9rem;
        margin: 0 auto;
        font-size: 1rem;
    }

    .marginPointPoint2Rem, #id_AudioGreeting, #id_AudioAnthem {
        margin: .5rem auto;
        font-size: 1rem;
    }

    .myInfoPage, .myInfoPageCountryList {
        grid-template-columns: 100%;
    }

    .mainAbout {
        grid-template-columns: calc(100% - .1rem);
        grid-column-gap: .1rem;
    }

    .oneCountryPanel {
        display: grid;
        grid-gap: .6rem;
    }

    .selectBoxStyles  {
        color: white;
        font-weight: bold;
        border-bottom: solid #190623 .1rem;
    }

    .nestedFlexAbout, .nestedFlexCitation {
        display: flex;
        flex-direction: column;
        margin: 2%;
    }

    .aboutList {
        text-align: center;
    }

    .appLanguageToUse {
        text-align-last: left;
        width: 9rem;
    }
}

@media (min-width: 1px) and (max-width: 736px)  and (orientation: portrait) {
    #id_CountryListMenuDiv {
        width: 21rem;
    }

    .h2Header {
        grid-template-columns: 25% calc(40% - .4rem) 35%;
        margin: .1rem;
    }

    .regionLabelText {
        margin: 0 .4rem;
        font-size: 1.5rem;
    }

    .countryCodeBodyBackground {
        background-size: 3rem;
    }

    .appLanguageToUse {
        width: 7.5rem;
    }
}

@media (min-width: 1px) and (max-width: 736px)  and (orientation: landscape) {
    #id_CountryListMenuDiv {
        width: 37rem;
    }

    .h2Header {
        grid-template-columns: 30% calc(38% - .4rem) 32%;
    }

    .countryCodeBodyBackground {
        background-size: 7rem;
    }

    #id_Letters26.worldSurfaceArea {
        font-size: 1.07rem;
        margin: 0;
    }
}

@media (min-width: 1px) and (max-width: 736px) {
    #id_Letters26 {
        display:block;
        align-items: center;
        margin: 0 .9rem;
    }

    #id_Letters26.worldCountryCodes {
        font-size: 1.15rem;
        margin: 0;
    }

    #id_ISO {
        margin: 0 .5rem;
    }

    .aToZ {
        display: inline;
        margin: 0 .15rem;
    }

    #menuWorldView {
        width: 20rem;
    }

    #id_LiRegister {
        margin: 1.1rem 0 .9rem 0;
    }
}

@media (min-height: 950px) and (max-height: 1800px) {
    h1 {
        margin: 2.2rem 0 1.5rem 0;
    }
}
